html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 88%;
	vertical-align: baseline
}

html {
	line-height: 1
}

ol,
ul {
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

caption,
th,
td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}

q,
blockquote {
	quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none
}

a img {
	border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

img {
	border: none;
	padding: 0;
	margin: 0;
	vertical-align: top
}

html,
body {

	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-size: 24px;
	background-color: #fff;
	font-family: '微软雅黑', Arial, sans-serif;
	/*overflow: hidden;*/
	width: 100%;
	height: 100%
}

html .hide,
body .hide {
	display: none;
	z-index: 0
}

html .show,
body .show {
	display: block;
	z-index: 5
}

html .active,
body .active {
	display: block;
	z-index: 10
}

html .level,
body .level {
	display: block;
	z-index: 3
}

a {
	color: inherit
}

.loading {
	position: fixed;
	z-index: 1110;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000
}

.roundSpinner {
	margin: 0px auto 0;
	width: 150px;
	text-align: center;
	position: absolute;
	left: 50%;
	margin-left: -75px;
	top: 50%;
	margin-top: -30px;
	z-index: -1
}

.roundSpinner>div {
	width: 30px;
	height: 30px;
	background-color: #fbead8;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.roundSpinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s
}

.roundSpinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s
}

@-webkit-keyframes bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0)
	}
	40% {
		-webkit-transform: scale(1)
	}
}

@keyframes bouncedelay {
	0%,
	80%,
	100% {
		transform: scale(0);
		-webkit-transform: scale(0)
	}
	40% {
		transform: scale(1);
		-webkit-transform: scale(1)
	}
}

.main {
	width: 640px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
	display: none
}

.game {
	position: absolute;
	width: 100%;
	height: 30%;
	bottom: 0;
	z-index: 11;
	display: none
}

.game .bridge {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0
}

.game .bridge li {
	width: 120px;
	height: 100%;
	background-color: #8dc21f;
	position: absolute
}

.game .role {
	width: 47px;
	height: 75px;
	position: absolute;
	top: -75px;
	background-image: url(../images/role5.png);
	background-repeat: no-repeat
}

.game .line {
	height: 3px;
	width: 3px;
	position: absolute;
	top: -3px;
	right: 0
}

.game .line span {
	position: absolute;
	width: 3px;
	height: 0px;
	background-color: #f75a32;
	bottom: 0;
	right: 0;
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%
}

.gameBg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 0;
	left: 0px;
	top: 0px;
	display: none
}

.gameBg .bg1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #141f3f;
	display: none
}

.gameBg .bg1 .cloud1 {
	position: absolute;
	top: 40%
}

.gameBg .bg1 .cloud2 {
	position: absolute;
	top: 20%
}

.gameBg .bg1 .house {
	position: absolute;
	bottom: 0px
}

.gameBg .bg1 .hj {
	position: absolute;
	bottom: 0px;
	left: 125px
}

.gameBg .bg1 .ufo {
	position: absolute;
	left: 35px;
	top: 77px
}

.gameBg .bg1 .t1 {
	position: absolute;
	left: 262px;
	top: 210px
}

.gameBg .bg1 .t2 {
	position: absolute;
	left: 313px;
	top: 286px
}

.gameBg .bg1 .star {
	position: absolute;
	width: 640px;
	height: 400px;
	top: 50px
}

.gameBg .bg1 .star li {
	position: absolute
}

.gameBg .bg1 .star li:nth-child(1) {
	left: 537px;
	top: 66px
}

.gameBg .bg1 .star li:nth-child(2) {
	left: 337px;
	top: 16px
}

.gameBg .bg1 .star li:nth-child(3) {
	left: 406px;
	top: 128px
}

.gameBg .bg1 .star li:nth-child(4) {
	left: 50px;
	top: 220px
}

.gameBg .bg1 .star li:nth-child(5) {
	left: 177px;
	top: 277px
}

.gameBg .bg1 .star li:nth-child(6) {
	left: 111px;
	top: 450px
}

.gameBg .bg1 .star li:nth-child(7) {
	left: 430px;
	top: 375px
}

.gameBg .bg2 {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none
}

.gameBg .bg2 .sun {
	position: absolute;
	left: 49px;
	top: 61px;
	z-index: 1
}

.gameBg .bg2 .txt {
	position: absolute;
	left: 311px;
	top: 195px;
	z-index: 1
}

.gameBg .bg3 {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px
}

.gameBg .bg3 .moon {
	position: absolute;
	left: 113px;
	top: 98px;
	z-index: 1
}

.gameBg .bg3 .txt {
	position: absolute;
	left: 227px;
	top: 102px;
	z-index: 1
}

.cloud1Am {
	-webkit-animation: cloud1Am 5.3s linear infinite
}

.cloud2Am {
	-webkit-animation: cloud2Am 10s linear infinite
}

.infoPage {
	position: relative;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 999
}

.infoPage .tit {
	position: absolute;
	z-index: 1;
	left: 88px;
	top: 10%;
	margin-top: 0px
}

.infoPage .gz {
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 50px;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom
}

.infoPage .gz .gzTxt {
	position: absolute;
	left: 40px;
	top: 37px
}

.infoPage .lu {
	position: absolute;
	z-index: 1;
	left: 60px;
	bottom: 10%
}

.infoPage .bg {
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%
}

.infoPage .bg img {
	position: absolute;
	width: 100%;
	height: 100%
}

.infoPage .copyright {
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
	color: white;
	z-index: 1;
	font-size: 20px
}

.btnIco {
	width: 82px;
	height: 30px;
	position: absolute;
	z-index: 10000;
	background-image: url(../images/btnIco.png);
	background-repeat: no-repeat;
	padding-top: 86px;
	text-align: center
}

.myBtn {
	left: 30px;
	top: 30px
}

.viewBtn {
	left: 30px;
	top: 155px;
	background-position: -246px 0
}

.ruleBtn {
	right: 30px;
	top: 30px;
	background-position: -82px 0
}

.musicBtn {
	right: 30px;
	top: 155px;
	background-position: -164px 0
}

.panel {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 11111;
	background-color: rgba(0, 0, 0, 0.85)
}

.myPanel {
	display: none
}

.myPanel .scoreBox {
	width: 592px;
	height: 464px;
	position: absolute;
	top: 50%;
	margin-top: -332px;
	left: 50%;
	margin-left: -296px
}

.myPanel .scoreBox .score {
	position: absolute;
	left: 189px;
	top: 336px;
	width: 152px;
	height: 45px;
	text-align: center;
	color: #141f3f;
	font-size: 32px;
	line-height: 45px;
	font-weight: bold
}

.myPanel .scoreBox .scoreTxt {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 250px
}

.myPanel .scoreBox .scoreTxt img {
	display: none
}

.myPanel .scoreBox .t2 {
	position: absolute;
	width: 80px;
	height: 40px;
	line-height: 26px;
	left: 295px;
	width: 110px;
	top: 76px;
	font-size: 32px;
	font-weight: bold;
	display: none
}

.myPanel .scoreBox .playGameNum {
	position: absolute;
	width: 150px;
	height: 40px;
	line-height: 26px;
	left: 240px;
	top: 125px;
	font-size: 32px;
	font-weight: bold;
	display: none
}

.rulePanel {
	display: none
}

.rulePanel .ruleBox {
	position: absolute;
	width: 586px;
	height: 927px;
	top: 50%;
	margin-top: -480px;
	left: 50%;
	margin-left: -293px
}

.rulePanel .ruleBox .tel {
	position: absolute;
	width: 330px;
	height: 50px;
	bottom: 70px;
	left: 50%;
	margin-left: -165px
}

.rulePanel .ruleBox .closeBtn {
	width: 80px;
	height: 80px;
	position: absolute;
	right: -10px;
	top: 85px
}

.successPanel {
	display: none
}

.successPanel .successBox {
	height: 613px;
	width: 495px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -248px;
	margin-top: -350px
}

.successPanel .successBox .backBtn {
	width: 90px;
	height: 110px;
	position: absolute;
	left: 135px;
	top: 475px
}

.successPanel .successBox .continueBtn {
	width: 90px;
	height: 110px;
	position: absolute;
	left: 270px;
	top: 475px
}

.failPanel {
	display: none
}

.failPanel .failBox {
	height: 613px;
	width: 495px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -248px;
	margin-top: -350px
}

.failPanel .failBox .failTxt {
	position: absolute;
	width: 100%;
	top: 300px;
	text-align: center
}

.failPanel .failBox .success_txt {
	display: none;
	position: absolute;
	left: 265px;
	top: 80px;
	width: 80px;
	height: 50px;
	font-size: 38px;
	font-weight: bold;
	line-height: 43px;
	color: #141f3f
}

.failPanel .failBox .backBtn {
	width: 90px;
	height: 110px;
	position: absolute;
	left: 200px;
	top: 480px
}

.hit {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 666
}

@-webkit-keyframes cloud1Am {
	0% {
		-webkit-transform: translate(-298px, 0)
	}
	100% {
		-webkit-transform: translate(640px, 0)
	}
}

@-webkit-keyframes cloud2Am {
	0% {
		-webkit-transform: translate(640px, 0)
	}
	100% {
		-webkit-transform: translate(-200px, 0)
	}
}

.flashAm {
	-webkit-animation-name: flashAm;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite
}

@-webkit-keyframes flashAm {
	0% {
		opacity: 1
	}
	40% {
		opacity: 0.1
	}
	80% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}

.scaleAm {
	-webkit-animation-name: scaleAm;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite
}

@-webkit-keyframes scaleAm {
	0% {
		-webkit-transform: scale(1)
	}
	50% {
		-webkit-transform: scale(1.05)
	}
	100% {
		-webkit-transform: scale(1)
	}
}

.scaleAm2 {
	-webkit-animation-name: scaleAm2;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite
}

@-webkit-keyframes scaleAm2 {
	0% {
		-webkit-transform: scale(1)
	}
	50% {
		-webkit-transform: scale(0.95)
	}
	100% {
		-webkit-transform: scale(1)
	}
}

.roleRunAm {
	-webkit-animation-name: roleRunAm;
	-webkit-animation-duration: 0.4s;
	-webkit-animation-timing-function: steps(4);
	-webkit-animation-iteration-count: infinite;
	animation-name: roleRunAm;
	animation-duration: 0.4s;
	animation-timing-function: steps(4);
	animation-iteration-count: infinite
}

@-webkit-keyframes roleRunAm {
	0% {
		background-position: 0 0
	}
	100% {
		background-position: -188px 0
	}
}

@keyframes roleRunAm {
	0% {
		background-position: 0 0
	}
	100% {
		background-position: -188px 0
	}
}



